<!doctype html>
<html lang="en"
        xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<p>Hello, </p><p th:text="${name}"></p>

    <table border="2">
        <thead>
            <tr>
                <td th:text="${header.id}">#</td>
                <td th:text="${header.name}">#</td>
                <td th:text="${header.price}">#</td>
            </tr>
        </thead>
        <tbody>
        <tr th:each="line: ${lines}">
            <td th:text="${line.id}">#</td>
            <td th:text="${line.name}">#</td>
            <td th:text="${#numbers.formatDecimal(line.price, 1, 3)}">#</td>
        </tr>
        </tbody>
    </table>

</body>
</html>