<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
4.review
<form method="post">
    <p th:text="${cd.seat}"></p>
    <p th:text="${cd.firstname}"></p>
    <p th:text="${cd.lastname}"></p>
    <p th:text="${cd.cardno}"></p>
    <input type="text" th:value="${cd.cardno}" name="cardno">
    <input type="submit" value="5.confirm">
</form>
</body>
</html>